<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<ConnectionStrings>
		<ConnectionString>
			<Env>Local</Env>
			<DataBase>p1_alis_db_uat_05122017</DataBase>
			<Connection>Data Source=alis-db-sql3;Initial Catalog=p1_alis_db_uat_05122017;Persist Security Info=True;User ID=AlisUser;Password=it12345*</Connection>
		</ConnectionString>
		<ConnectionString>
			<Env>Prod</Env>
			<DataBase>alis_db_prod</DataBase>
			<Connection>Data Source=10.134.5.30;Initial Catalog=alis_db_prod;Persist Security Info=True;User ID=Ebachmeir;Password=9Ke2n!47T</Connection>
		</ConnectionString>
		<ConnectionString>
			<Env>P1-Uat</Env>
			<DataBase>p1_alis_db_uat</DataBase>
			<Connection>Data Source=756027-LSQLDEV1.FBLIFE.COM;Initial Catalog=p1_alis_db_uat;Persist Security Info=True;User ID=TflDB;Password=http://172.24.16.243:8082/p1_alis_pl_uat/alis</Connection>
		</ConnectionString>
		<ConnectionString>
			<Env>P1-Uat222</Env>
			<DataBase>p1_alis_db_uattt</DataBase>
			<Connection>23123Data Source=756027-LSQLDEV1.FBLIFE.COM;Initial Catalog=p1_alis_db_uat;Persist Security Info=True;User ID=TflDB;Password=http://172.24.16.243:8082/p1_alis_pl_uat/alis</Connection>
		</ConnectionString>
	</ConnectionStrings>
</configuration>